In [12]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
from rflearn.env import BlackJack, GridWorld
from rflearn.policy import MCIteration

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [63]:
_grid = [
    [0, 1, 1, 1, 1, 1, 1],
    [0, 0, 0, 0, 0, 0, 0],
    [1, 1, 1, 1, 1, 1, 0],
    [0, 0, 0, 0, 0, 0, 0],
]
# grid = GridWorld(grid=_grid, terminals=[0])
grid = GridWorld(4, 4)
value = np.zeros(shape=len(grid.S))
policy = np.ones(shape=(len(grid.S), len(grid.A))) / len(grid.A)

mc_model = MCIteration()
mc_model.fit(grid, value, policy, gamma=1, epsilon=0.1)

In [77]:
mc_model.epsilon = 0
mc_model.transform(10000)

100%|██████████| 10000/10000 [00:01<00:00, 5713.56it/s]

In [121]:
game = BlackJack(debug=False)
value = np.zeros(shape=len(game.S))
policy = []
for idx in game.S:
    state = game._to_state(idx)
    if state[1] >= 20:
        policy.append([0, 1])
    else:
        policy.append([1, 0])
policy = np.array(policy).astype('float')

mc_model = MCIteration()
mc_model.fit(game, value, policy, 1)

In [125]:
mc_model.transform(1000000)

100%|██████████| 1000000/1000000 [04:46<00:00, 3492.73it/s]

In [78]:
np.round(pd.Series(mc_model.qvalue).unstack()[mc_model.env.A])

      up  down   left  right
0    0.0   0.0    0.0    0.0
1   -2.0  -3.0   -1.0   -3.0
2   -4.0  -4.0   -2.0   -5.0
3   -7.0  -4.0   -3.0   -9.0
4   -1.0  -3.0   -3.0   -4.0
5   -2.0  -4.0   -2.0   -4.0
6   -3.0  -4.0   -3.0   -5.0
7   -4.0  -2.0   -5.0   -8.0
8   -2.0 -90.0  -95.0  -12.0
9   -3.0  -5.0   -3.0   -8.0
10  -5.0 -54.0   -5.0   -2.0
11  -3.0  -1.0   -4.0   -2.0
12 -92.0 -16.0 -106.0   -6.0
13  -4.0 -21.0  -16.0   -9.0
14 -39.0  -2.0  -38.0   -1.0
15   0.0   0.0    0.0    0.0

In [79]:
pd.DataFrame(mc_model.policy, index=mc_model.env.S, columns=mc_model.env.A)

      up  down  left  right
0   0.25  0.25  0.25   0.25
1   0.00  0.00  1.00   0.00
2   0.00  0.00  1.00   0.00
3   0.00  0.00  1.00   0.00
4   1.00  0.00  0.00   0.00
5   1.00  0.00  0.00   0.00
6   0.00  0.00  1.00   0.00
7   0.00  1.00  0.00   0.00
8   1.00  0.00  0.00   0.00
9   1.00  0.00  0.00   0.00
10  0.00  0.00  0.00   1.00
11  0.00  1.00  0.00   0.00
12  0.00  0.00  0.00   1.00
13  1.00  0.00  0.00   0.00
14  0.00  0.00  0.00   1.00
15  0.25  0.25  0.25   0.25